notes-app/node_modules
notes-app/package-lock.json

weather-app/node_modules/
weather-app/package-lock.json

boroda/node_modules/
boroda/package-lock.json

web-server/node_modules/
web-server/package-lock.json

task-manager/node_modules/
task-manager/package-lock.json
task-manager/avatar

